<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
    <dict>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <false/>
      <key>defaults</key>
      <string>com.shade.abaculus</string>
      <key>PostNotification</key>
      <string>com.shade.abaculus/ReloadPrefs</string>
      <key>key</key>
      <string>showAppLabels</string>
      <key>label</key>
      <string>Show App Labels</string>
    </dict>
    <dict>
      <key>bundle</key>
      <string>AppList</string>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>isController</key>
      <string>1</string>
      <key>label</key>
      <string>Favorite Applications</string>
      <key>ALSettingsPath</key>
      <string>/User/Library/Preferences/com.shade.abaculus.plist</string>
      <key>ALSettingsKeyPrefix</key>
      <string>Favorites-</string>
      <key>ALChangeNotification</key>
      <string>com.shade.abaculus/ReloadPrefs</string>
      <key>PostNotification</key>
      <string>com.shade.abaculus/ReloadPrefs</string>
      <key>ALAllowsSelection</key>
      <string>1</string>
      <key>ALSectionDescriptors</key>
      <array>
        <dict>
          <key>title</key>
          <string>System Applications</string>
          <key>predicate</key>
          <string>(isSystemApplication = TRUE)</string>
          <key>cell-class-name</key>
          <string>ALSwitchCell</string>
          <key>icon-size</key>
          <string>29</string>
          <key>suppress-hidden-apps</key>
          <string>1</string>
        </dict>
        <dict>
          <key>title</key>
          <string>User Applications</string>
          <key>predicate</key>
          <string>isSystemApplication = FALSE</string>
          <key>cell-class-name</key>
          <string>ALSwitchCell</string>
          <key>icon-size</key>
          <string>29</string>
          <key>suppress-hidden-apps</key>
          <string>1</string>
        </dict>
      </array>
    </dict>
  </array>
  <key>title</key>
  <string>Options</string>
</dict>
</plist>
